/* General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Poppins', sans-serif;
    padding: none;
}

html {
    scroll-behavior: smooth;
}

/* Transition */
a, .btn{
    transition: all 300ms ease;
}

/* Desktop Nav */

nav, .nav_links{
    display: flex;
    
}

/* how to change position of elements 
.icon{
    padding: 10px 10px 20px 40px;
} 
*/

nav{
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background-color: white;
}

.nav_links{
    gap: 2rem;
    /* How to get rid of the dots in front of lists*/
    list-style: none;
    font-size: 1.5rem;
    font-weight: 200;
    padding-left: 550px;
    padding-right: 10px;
  
}

.social_media_frame {
    display: flex;
    justify-content: end;
 
}

/* Social Media Imgs */
.social_image{
    cursor: pointer;
    padding-right: 40px;
   
}






a {
    /* How to get rid of underlined purple hyperlinks*/
    text-decoration: none; 
    /*text-decoration-color: white;*/
    color: black;

}

a:hover{
    color: #6cb0da;
    text-decoration: underline;
    text-decoration-color: #6cb0da;
    text-underline-offset: .75rem;
}

.icon{
    color: black;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 0px;
}

#flower{
    padding-left: 20px;
}

.icon:hover{
    cursor: default;
}

/* Mobile Menu */

#mobile-nav{
    display: none;
}

.mobile_menu{
    position: relative;
    display: inline-block;
}

.mobile_icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

/* Mobile Veiw */
.mobile_icon span{
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.mobile_links{
    position: absolute;
    /* How to change Menu postion from icon*/
    top: 170%;
    right: 0;
    list-style: none;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    background-color: #2e2f34;
    /* Nav Menu Border */
    border-color: rgb(107, 203, 206);
    border-radius: 0rem;
    transition: all 500ms ease;
}


.mobile_links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color:rgb(107, 203, 206);
    transition: all 0.3 ease-in-out;
}

.mobile_links a:hover {
    background-color: #17171a;
    color: white;
}

.mobile_links li{
    list-style: none;
}

.mobile_links.open{
    max-height: 300px;
    transition: all 700ms ease;
}


/* Icon Line Animation Settings */
.mobile_icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
    transition: all 500ms ease;
}
.mobile_icon.open span:nth-child(2) {
    opacity: 0;
    transition: all 500ms ease;
}
.mobile_icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
    transition: all 500ms ease;
}

.mobile_icon span:first-child {
    transform: none;
    transition: all 500ms ease;
}
.mobile_icon span:nth-child(2) {
    opacity: 1;
    transition: all 500ms ease;
}
.mobile_icon span:last-child {
    transform: none;
    transition: all 500ms ease;
}

/* Section */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 0rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section_frame{
    display: flex;
    
}

/* About Me Section */


#profile_info{
    display: flex;
    justify-content: end;
    gap: 1rem;
    height: 88vh;
    background-color: #6cb0da;
    /* main page settings */

}

.section_pic_frame{
    display: flex;
    align-items:center;
    margin-bottom: 3rem;
}

#main-pic {
    align-items: end;
    height: 600px;
    padding-right: 70px;
}


.section_text{
    align-self: center;
    text-align: center;
    color: white;
    padding-right: 60px;
    padding-left: 130px;
    padding-bottom: 70px;
   /* background-color: plum; */
}

/* .section_text p{
    /* font-weight: 600; */


#demo {
    text-align: center;
    color: white;
    font-size: 2.7rem;
    font-weight: 500;
    
}


#section_p2{
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 20px;
    padding-top: 10px;
}

#section_p3{
    font-size: 1.5rem;
    font-weight: 100;
    padding-top: 10px;
}

.name_h1 {
    font-size: 4rem;
    text-align: center;
    color: rgb(107, 203, 206);
}

#linkedin_pic {
    width: 55px;
    height: 55px;
}

.input-container {
    display: flex;
    align-items: center;
}


#happy-face {
    margin-right: 10px; /* Adjust as needed */
    
}

.slider-container {
    flex: 1; /* Take remaining space */
    padding-right: 10px;
    padding-left: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%; /* Fill the container */
    height: 10px;
    border-radius: 5px;
    background: #fff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fabba3;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fabba3;
    cursor: pointer;
}

  



/* Btn */
.btn_frame {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    height: 4rem;

}

.btn_color1, .btn_color2 {
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    /* border: 2px  solid #2e2f34; */
    transition: all 700ms ease;
    border-radius: 12px;

}

/*
.btn_color1 {
    border:  1.7px  solid rgb(46, 46, 46);
}
*/

.btn_color1:hover, .btn_color2:hover {
    border: none;
    background-color: white;
    color: #17171a;
    box-shadow: inset 0 0 11px #c1c1c1;
    box-shadow: inset 0 0 9px #919090;
    box-shadow: inset 0 0 7px #6d6d6d;

    transition: all 700ms ease;
}

/* .btn_color1:hover {
    border: none;
    background-color: rgb(107, 203, 206);
    color: #2e2f34;
    transition: all 700ms ease;
} */

.start_background {
    background-color: #2e2f34;
    width: 100%;
    width: 100vh;
    justify-content: center;
}

/* Abt section */
.abt_background {
    background-color: #34353a;
    width: 100%;
    height: 100vh;
}




#about {
    position: relative;
}

.abt_frames{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.abt_details_frame {
    justify-content: center;
    flex-direction: column;
}

.abt_frames, .abt_details_frame {
    display: flex;
    gap: 1rem;

}

.abt_img {
    border-radius: 2rem;
    height: 700px;
}

.arrow {
    position: absolute;
    right: 5rem;
    bottom: 2.5rem;
}

.abt_icon, .arrow {
    height: 50px;
}

.details_frame {
    padding: 1.5rem;
    flex: 1;
    background: #2e2f34;
    border-radius: 2rem;
    border: #2e2f34 0.1rem solid;
    text-align: center;

}

.section_frame {
    gap: 4rem;
    height: 80%;
    margin-top: 5%;

}

.section_img_frame {
    margin: auto 0;
}

#accountPage {
    display: none;
    position:absolute;
    top: 25%;
    left: 87%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: max-content;
   
    
}

#user, #email{
    display: flex;
    justify-content:start;
    font-size: 1.1rem;
    font-weight: 100;
    color: #17171a;
}



/* #accountPage p {
    font-size: 1.1rem;
    font-weight: 100;
    color: #17171a;
   
} */
#streak {
    display: flex;
    justify-content:center;
    color: #07c1ff;
    font-weight: bold;
}

.pfp {
    padding-left: 60px;
    width: 130px;
    display: flex;
    justify-content:center;

}

.tipinfo {
    text-align: center; /* Center align the text */
    justify-content: center; 
    padding-bottom: 10px;
}
.tip {
    padding: 30px;
    padding-left: 300px;
     /* Make each tip display inline */
    text-align: left; /* Left align the text within each tip */
    width: 1000px; /* Set a fixed width for each tip (adjust as needed) */
    /* Align the top of each tip */
    
}
.tip h2 {
    color: #6cb0da;
    font-size: 30px;
    font-weight: bold;
}
.tip p {
    color: #666;
    font-size: 16px;
}



#textbutton a{
    color: white;
    text-decoration: none;
}


